body {
  background: url("https://i.pinimg.com/originals/8d/f7/d3/8df7d3dba5d2fc5a33f594132acc0424.jpg") no-repeat center center fixed;
}

ul {
  list-style-type:  none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b8adad;
}

li {
  display: inline;
}

li a {
  display: inline-block;
  padding: 12px;
  font-size: 18px; 
  text-decoration: none;
  color: rgb(146, 25, 25);
}


li a:hover:not(.active) {
  background-color: rgb(214, 214, 214);
}
.active {
  background-color: #5e0000;
  color: white;
}